.grid-container{
    display: grid;
    grid-template-areas: 
    'header header'
    'nav main';
}
.grid-header{
    grid-area: header;
}
.grid-menu{
    grid-area: nav;
}
.grid-cuerpo{
    grid-area: main;
}
